@{
    ViewData["Title"] = "Drug Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-4 text-center">
    <h2 class="display-4">Drug Search </h2>
    @if (!String.IsNullOrEmpty(ViewBag.Response))
    {
        <div class="alert alert-danger" role="alert">
            <strong>@ViewBag.Response</strong>
        </div>
    }
</div>
<div class="container">
    <h4 class="text-center">Search Drug By Name</h4>
    <div class="row">
        <div class="col-10 offset-2 m-2">
            <form asp-action="DrugbyName" method="get">
                <input type="text" placeholder="Drug Name" pattern="[a-zA-Z]+" style="float:left" name="name" required />
                <input type="submit" value="Search by Name" class="btn btn-primary" />
            </form>
        </div>
    </div>
    <h4 class="text-center">Search Drug By Id</h4>
    <div class="row">
        <div class="col-10 offset-2 m-2">
            <form asp-action="DrugbyId" method="get">
                <input type="number" placeholder="Drug Id" min="1" max="200" style="float:left" name="id" required />
                <input type="submit" value="Search by Id" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Subscription">Go Back</a>
</div>
