@model Member_Portal.Models.RefillOrderDetails;
@{
    ViewData["Title"] = "Adhoc Refill Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>Adhoc Refill Status</h2>
</div>

<partial name="RefillDetails" for="@Model" />