
@{
    ViewData["Title"] = "RefillDues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="justify-content-center">
    <h2>Due Refill</h2>
</div>

<div class="container bg-white">
    <h3>Due Refills for Subscription is -- @ViewBag.DueCount</h3>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Subscription">Go Back</a>
</div>

