
@{
    ViewData["Title"] = "RefillDues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="justify-content-center">
    <h2>Due Refill</h2>
</div>

<div class="container">
    <h3>Due Refills for Subscription is -- @ViewBag.DueCount</h3>
</div>