@model Member_Portal.Models.RefillOrderDetails;
@{
    ViewData["Title"] = "Latest Refill Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="justify-content-center">
    <h2>Latest Refill Status</h2>
</div>

<div class="row">
    <div class="col-8 offset-2">
        <p><strong>Refill Order Id -- </strong>@Model.Id</p>
        <p><strong>ComplitionDate -- </strong>@Model.RefillDate</p>
        <p><strong>Drug Quantity -- </strong>@Model.DrugQuantity</p>
        <p>
            <strong>Delivery -- </strong>
            @if (Model.RefillDelivered)
            {
                <span> Completed </span>
            }
            else
            {
                <span> Processing </span>
            }
        </p>
        <p>
            <strong>Payment -- </strong>
            @if (Model.Payment)
            {
                <span> Completed </span>
            }
            else
            {
                <span> Pending </span>
            }
        </p>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Subscription">Go Back</a>
</div>
