@{
    ViewData["Title"] = "Response Message Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div>
        <h3>-- @ViewBag.Response</h3>
    </div>

</div>
<div>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Subscription">Back to List</a>
</div>
